/* ExtraLight 200 */
@font-face {
  font-family: "Oswald";
  src: url("/font/Oswald-ExtraLight-subset.woff2") format("woff2"), url("/font/Oswald-ExtraLight-subset.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* SemiBold 600 */
@font-face {
  font-family: "Oswald";
  src: url("/font/Oswald-SemiBold-subset.woff2") format("woff2"), url("/font/Oswald-SemiBold-subset.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}



/*---------------------------------------------------------------------------*\
  #NORMALIZE
\*---------------------------------------------------------------------------*/
html {
  line-height: 1.15;

  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 200;
  font-family: Oswald-ExtraLight, Arial, Helvetica, sans-serif
}

b, strong {
  font-weight: 600;
}

img {
  border-style: none;
  vertical-align: middle;
}

main {
  display: block;
  position: relative;
  z-index: 1;
  margin-top: 40rem;
  background-color: #fff;
}





/*---------------------------------------------------------------------------*\
  #SITE-CONTAINER
\*---------------------------------------------------------------------------*/
.constrain {
  margin: 0 auto;
  padding: 2rem;
  max-width: 71.25rem;
}





/*---------------------------------------------------------------------------*\
  #NAVIGATION
\*---------------------------------------------------------------------------*/
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-list__item {
  margin-left: 1rem;
}

.nav-list__item:first-child {
  margin-left: 0;
}

.nav-list__link {
  color: #000;
  text-decoration: none;
  position: relative;
}

.nav-list__link:before {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width .25s ease-in-out;
  background-color: #fff;
  height: 1px;
  width: 0;
  content: '';
}

.nav-list__link:hover:before,
.nav-list__link:active:before {
  width: 100%;
}






/*---------------------------------------------------------------------------*\
  #HEADER
\*---------------------------------------------------------------------------*/
.header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  margin: 0;
  background-color: #ff5348;
  padding: 0 1rem;
  height: 4.5rem;
  text-transform: uppercase;
  color: #fff;

  align-items: center;
}

.header__nav {
  margin-right: auto;
}

.header__title {
  padding: 1rem 0;
  font-size: 1.5rem;
}





/*---------------------------------------------------------------------------*\
  #MASTHEAD
\*---------------------------------------------------------------------------*/
.masthead {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin-top: 4.5rem;
  border-bottom: 1px solid #cfcfcf;
  background: url('index-banner.jpg') no-repeat top left;
  background-size: cover;
  height: 35.5rem;

  align-items: center;
  justify-content: center;
}

.masthead__title {
  display: block;
  background-color: rgba(255,255,255,.25);
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2rem;
  color: #000;
  font-size: 2rem;
}





/*---------------------------------------------------------------------------*\
  #PROJECTS
\*---------------------------------------------------------------------------*/
.projects {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  flex-wrap: wrap;
}

.project {
  width: 100%;
  border: 1px solid #fff;
  display: flex;
}

@media (min-width: 37.5em) {
  .project {
    width: calc(100% / 2);
  }
}

@media (min-width: 56.25em) {
  .project {
    width: calc(100% / 3);
  }
}

@media (min-width: 75em) {
  .project {
    width: calc(100% / 4);
  }
}

.project__link {
  text-decoration: none;
  position: relative;
}

.project__link:before,
.project__title {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity .25s ease-in-out;
  opacity: 0;
}

.project__link:before {
  content: '';
  background-color: #ff5348;
}

.project__title {
  display: flex;
  color: #fff;

  align-items: center;
  justify-content: center;
}

.project__link:hover:before {
  opacity: .5;
}

.project__link:hover .project__title {
  opacity: 1;
}

.project__img {
  max-width: 100%;
  height: auto;
}

@supports (display: grid) {
  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }

  .project {
    width: 100%;
  }
}





/*---------------------------------------------------------------------------*\
  #FOOTER
\*---------------------------------------------------------------------------*/
.footer {
  display: flex;
  background-color: #ff5348;
  padding: 1.5rem 1rem;

  align-items: center;
}

.footer__nav {
  width: 40%;
}

.footer__copyright {
  margin-left: -20%;
  width: 60%;
  text-align: center;
}


@media (max-width: 37.4375em) {
  .footer {
    flex-wrap: wrap;
  }

  .footer__nav {
    margin: 0 auto 1rem;
    width: auto;
  }

  .footer__copyright {
    margin: 0 auto;
    width: 100%;
  }
}
